In [1]:
import zipline as zp
import quandl as qd
import pandas as pd
import numpy as np
from datetime import datetime
import pytz

In [104]:
start_date = '2015-01-01'
end_date = '2018-01-01'

companies = ['AAPL', 'MSFT', 'AMZN', 'INTC']
# Grab data for select companies
qd.ApiConfig.api_key = 'Zx2BTzzcz264ssx748NF'
data = qd.get_table('WIKI/PRICES', ticker = companies, date = {'gte': start_date, 'lte': end_date}, paginate=True)

In [105]:
data.iloc[0]

ticker                        AAPL
date           2015-01-02 00:00:00
open                        111.39
high                        111.44
low                         107.35
close                       109.33
volume                 5.32046e+07
ex-dividend                      0
split_ratio                      1
adj_open                   105.821
adj_high                   105.868
adj_low                    101.983
adj_close                  103.864
adj_volume             5.32046e+07
Name: 0, dtype: object

In [113]:
aapl_data = msft_data = amzn_data = intc_data = pd.DataFrame(columns = data.columns)

comp_dict = {
    'AAPL': pd.DataFrame(columns = data.columns),
    'MSFT': pd.DataFrame(columns = data.columns),
    'AMZN': pd.DataFrame(columns = data.columns),
    'INTC': pd.DataFrame(columns = data.columns)
}

for i, row in data.iterrows():
    if row[0] in dict:
        comp_dict[row[0]]  = comp_dict[row[0]].append(pd.Series(row))

In [112]:
comp_dict['AAPL'].head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,AAPL,2015-01-02,111.39,111.44,107.350,109.33,53204626.0,0.0,1.0,105.820966,105.868466,101.982949,103.863957,53204626.0
1,AAPL,2015-01-05,108.29,108.65,105.410,106.25,64285491.0,0.0,1.0,102.875953,103.217954,100.139941,100.937944,64285491.0
2,AAPL,2015-01-06,106.54,107.43,104.630,106.26,65797116.0,0.0,1.0,101.213446,102.058949,99.398938,100.947444,65797116.0
3,AAPL,2015-01-07,107.20,108.20,106.695,107.75,40105934.0,0.0,1.0,101.840448,102.790453,101.360696,102.362951,40105934.0
4,AAPL,2015-01-08,109.23,112.15,108.700,111.89,59364547.0,0.0,1.0,103.768957,106.542969,103.265455,106.295968,59364547.0

In [75]:
# TODO write function for computing 20 day moving average for each company 
# store moving averages in another dict for each company

Index(['ticker', 'date', 'open', 'high', 'low', 'close', 'volume',
       'ex-dividend', 'split_ratio', 'adj_open', 'adj_high', 'adj_low',
       'adj_close', 'adj_volume'],
      dtype='object')